.welcomeBody {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  margin: 70px 0;
}

/* Avatar image */
.headshot {
  background-image: url("../../assets/headshot.jpg");
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 360px;
  justify-self: center;
}

/* Name and welcome */
.welcomeMessage {
  margin-top: 20px;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #012a4a;
}

h2 {
  font-size: 22px;
  font-weight: 200;
  margin: 0;
  color: #2a6f97;
}

.welcomeLine {
  width: 50px;
  height: 0.5px;
  background-color: #2a6f97;
  margin: 10px auto;
}

/* Vertical line / margin */
.vline {
  margin-top: 40px;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-around;
  background-color: #01497c07;
  padding: 5px;
  border-radius: 10px;
}

.statItem {
  width: 210px;
}

.statName {
  font-size: 13px;
  margin: 0;
  font-weight: 400;
  color: #2a6f97;
}

.statValue {
  font-size: 26px;
  margin: 0;
  font-weight: 500;
  color: #012a4a;
}

/* Screen size 750px */
@media screen and (min-width: 750px) {
  .headshot {
    height: 150px;
    width: 150px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  .welcomeLine {
    width: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .welcomeBody {
    display: flex;
    margin: 150px 0px;
    align-items: center;
    text-align: start;
  }

  .headshot {
    height: 220px;
    width: 220px;
    margin-right: 25px;
  }

  .welcomeMessage {
    text-align: start;
    margin-right: 110px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
  }

  .welcomeLine {
    margin: 15px 0;
  }

  .vline {
    height: 160px;
    width: 1px;
    background-color: #2a6f97;
    margin: 0 70px;
  }

  .stats {
    display: grid;
    padding: 20px 35px;
    width: auto;
    height: auto;
  }

  .statItem {
    width: auto;
  }

  .stats > * {
    margin: 5px 0;
  }
}

@media screen and (min-width: 1500px) {
  .headshot {
    height: 250px;
    width: 250px;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
  }
  .statName {
    font-size: 15px;
  }
  .statValue {
    font-size: 30px;
  }
}
