.objavaBody {
  width: auto;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.164);
  margin-bottom: 50px;
}

.info {
  width: inherit;
  height: 50px;
  background-color: #355070;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.date {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

h3 {
  margin-left: 30px;
  font-size: 28px;
  font-weight: 700;
  color: #012a4a;
}

.objavaDescription {
  margin: 0 30px 0 30px;
  font-size: 16px;
  max-lines: 2;
  overflow: hidden;
  font-weight: 300;
  line-height: 30px;
  word-wrap: break-word;
}

img {
  width: 100%;
  height: auto;
}

.showMore {
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  color: #013a63;
  margin-left: 30px;
  margin-bottom: 30px;
}

.editButtons {
  position: absolute;
  width: 100px;
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  right: 20px;
  top: 7px;
  display: grid;
}

.editObjava {
  cursor: pointer;
}

.buttonNone {
  border: none;
  all: unset;
  background-color: transparent;
  cursor: pointer;
  padding-left: 10px;
}

.edit {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  font-size: 15px;
}
.deleteBtn {
  font-size: 15px;
}

.whitespace {
  white-space: pre;
}

@media screen and (min-width: 750px) {
  .objavaBody {
    width: 600px;
  }
  .info {
    width: 561px;
  }
  .objavaDescription {
    margin: 0 50px;
    font-size: 20px;
  }
  h3 {
    font-size: 40px;
  }
  .info {
    height: 70px;
  }
  .date {
    font-size: 15px;
  }
  .showMore {
    margin-left: 50px;
  }
  .editButtons {
    height: 100px;
    width: 110px;
  }
  .edit {
    font-size: 18px;
  }
  .deleteBtn {
    font-size: 18px;
  }
}
