.objaveBody {
  background-color: #01497c08;
  padding: 100px 75px;
  min-height: 80vh;
  width: auto;
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.novaObjava {
  height: 50px;
  width: inherit;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  border-color: #2a6f97;
  border-width: 0.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 300;
  color: #013a63;
}

.addIcon {
  font-size: 30px;
  margin: 0 10px 0px 10px;
}

.novaObjavaText {
  font-size: 15px;
}

@media screen and (min-width: 750px) {
  .novaObjava {
    width: 600px;
    height: 70px;
  }
  .novaObjavaText {
    font-size: 18px;
  }

  .objaveBody {
    justify-items: center;
  }
}
